{% block title %}Dashboard{% endblock %}
{% block lead %}Premier Lawn Care MA Redesign Project{% endblock %}

{% block content %}
	<div class="bs-docs-section">
		<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
	</div>
{% endblock %}